
.normal {
  font-family: Georgia, sans-serif;
<<<<<<< HEAD
  text-align: center;
}

.header{
    /*position: fixed;*/
    top: 0px;
    left: 0px;
    right: 0px;
    height: 70px;
    text-align: center;
    line-height: 70px;
    background: #404040;
    /*border-bottom:1px solid #fff; */
    color: #fff;
}
.footer{
    position: fixed;
    bottom: 0px;
    left: 0px;
    right: 0px;
    height: 70px;
    text-align: center;
    line-height: 70px;
    background: #404040;
    color: #fff;
}
=======
  margin-top: 3em;
  text-align: center;
}

.title {
  font-size: 2.5rem;
  font-weight: normal;
  letter-spacing: -1px;
}

.welcome {
  height: 328px;
  background: url(../assets/yay.jpg) no-repeat center 0;
  background-size: 388px 328px;
}

.list {
  font-size: 1.2em;
  margin-top: 1.8em;
  list-style: none;
  line-height: 1.5em;
}

.list code {
  background: #f7f7f7;
}
>>>>>>> 56ca02e976aa14dedadeece54542e6da921f1ca5
